<!--
 Copyright 2020 Google LLC
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

{% extends 'layout.njk' %}

{% block content %}
  <h1>CLS Test</h1>
  {% if noLayoutShifts %}
    <p>This text does not shift.</p>
  {% else %}
    <p><img src="/test/img/square.png?delay=500" alt="Gray square" /></p>
    <p><img src="/test/img/square.png?delay=1000" alt="Gray square" /></p>
    <p>Text below the images that will get pushed down.</p>
  {% endif %}

  <p><a id="navigate-away" href="https://example.com">Navigate away</a></p>

  <script type="module">
    import {getCLS} from '{{ modulePath }}';

    getCLS((cls) => {
      // Log for easier manual testing.
      console.log(cls);

      // Sources is verbose to serialize, so remove first.
      cls = {
        ...cls,
        entries: cls.entries.map((e) => {
          const {entryType, hadRecentInput, startTime, value} = e;
          const sources = e.sources.map((s) => {
            let node = s.node.nodeName.toLowerCase() +
                (s.node.id ? `#${s.node.id}` : ``);

            return {node};
          });
          return {entryType, hadRecentInput, sources, startTime, value};
        }),
      };

      // Test sending the metric to an analytics endpoint.
      navigator.sendBeacon(`/collect`, JSON.stringify(cls));
    }, self.__reportAllChanges);
  </script>
{% endblock %}
