<!--
 Copyright 2020 Google LLC
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
{% extends 'layout.njk' %}

{% block content %}
  <h1 elementtiming="main-heading">TTFB Test</h1>
  <p>
    <img elementtiming="main-image" {% if imgHidden %}hidden{% endif %} src="/test/img/square.png?delay={{ imgDelay }}">
  </p>

  <p>Text below the image</p>

  <p><a id="navigate-away" href="https://example.com">Navigate away</a></p>

  <script>
    // Set the blocking values based on query params if present.
    const params = new URLSearchParams(location.search);
    const navEntry = performance.getEntriesByType('navigation')[0];

    if (params.has('responseStart')) {
      Object.defineProperty(navEntry, 'responseStart', {
        value: Number(params.get('responseStart')),
        enumerable: true,
        writeable: true,
      });
    }

    function block(blockingTime) {
      const startTime = performance.now();
      while (performance.now() < startTime + blockingTime) {
        // Block...
      }
    }

    if (params.has('earlyHintsDelay')) {
      const earlyHintsDelay = Number(params.get('earlyHintsDelay'))
      // Block for delay time—to avoid the library seeing future timestamps,
      // and so not reporting a TTFB at all as it's invalid.
      block(Number(params.get('earlyHintsDelay')));
      // Chrome >= 133 has both finalResponseHeadersStart and firstInterimResponseStart
      if ('finalResponseHeadersStart' in PerformanceNavigationTiming.prototype) {
        Object.defineProperties(navEntry, {
          'firstInterimResponseStart': {
            value: Number(navEntry.responseStart),
            enumerable: true,
          },
          'finalResponseHeadersStart': {
            value: Number(navEntry.responseStart + earlyHintsDelay),
            enumerable: true,
          }
        });
      } else if ('firstInterimResponseStart' in PerformanceNavigationTiming.prototype) {
        // TODO: Can remove these after Chrome 133 lands and above is used.
        Object.defineProperties(navEntry, {
          'firstInterimResponseStart': {
            value: Number(navEntry.responseStart),
            enumerable: true,
          },
          'responseStart': {
            value: Number(navEntry.responseStart + earlyHintsDelay),
            enumerable: true,
          },
        })
      };
    }
  </script>

  <script type="module">
    const {onTTFB} = await __testImport('{{ modulePath }}');

    onTTFB((ttfb) => {
      // Log for easier manual testing.
      console.log(ttfb);

      // Test sending the metric to an analytics endpoint.
      navigator.sendBeacon(`/collect`, JSON.stringify(__toSafeObject(ttfb)));
    }, {reportAllChanges: self.__reportAllChanges});
  </script>
{% endblock %}
