name: Lint Code Base
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: NPM install
        uses: npm install
      - name: Run Prettier
        run: npm run format:check
      - name: Run ESlint
        run: npm run lint
